{% extends 'ui.html' %}

{% block content %}

    <h1>login</h1>

    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <div class="form-input">
            {% if form.username.errors %}
                <ul class="login-errors">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form.username(required=true, autofocus=true) }}
            {{ form.username.label }}
        </div>
        <div class="form-input">
            {% if form.password.errors %}
                <ul class="login-errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form.password(required=true) }}
            {{ form.password.label }}
            <button type="submit">press enter &raquo;</button>
        </div>
    </form>

{% endblock %}
