{% extends 'ui.html' %}

{% block content %}

    <div id="home-container">
        <div id="dimmer">

            <div id="hometext">

                <h1>You're<br/>hurting<br/>yourself.</h1>

                <form  id="pitch" method="POST" action="{{ url_for('main') }}">
                    {{ form.csrf_token }}
                    <p>100 000 people do their workouts wrong. Being injured sucks. Introduing a new solution that gives low cost and personalized training. A personal trainer in your pocket.</p>
                    <p>Want it?</p>
                    <p>My name is {{ form.name(autofocus=true, placeholder=form.name.label.text) }}, and my email address is {{ form.email(required=true, placeholder=form.email.label.text) }}. <button type="submit">Get it first &raquo;</button></p>
                </form>

            </div>

            <video id="vidibigi" width="100%" height="100%" autoplay="autoplay" loop="loop">
                <source src="{{ url_for('static', filename='video/fithub_bg.mp4') }}" />
                <source src="{{ url_for('static', filename='video/fithub_bg.webm') }}" />
                <source src="{{ url_for('static', filename='video/fithub_bg.ogg') }}"  />
            </video>
        </div>
    </div>

{% endblock %}
