{% extends 'ui.html' %}

{% block content %}

    <div id="home-container">
        <div id="dimmer">

            <div id="hometext">

                <h1>You're<br/>hurting<br/>yourself.</h1>

                <form  id="pitch" method="POST" action="{{ url_for('main') }}">
                    {{ form.csrf_token }}
                    <p>100,000 people do their workouts wrong. Being injured sucks. Introduing a new solution that gives low cost and personalized training. A personal trainer in your pocket.</p>
                    <p>Want it?</p>
                    <p id="signupins">My name is {{ form.name(autofocus=true, placeholder=form.name.label.text) }}, and my email address is {{ form.email(required=true, placeholder=form.email.label.text) }}. <button type="submit">Get it first &raquo;</button></p>
                </form>

            </div>

            {% if first_video %}
                <video id="vidibigi" width="100%" height="100%" autoplay="autoplay" loop="loop">
                   <source src="{{ url_for('static', filename='video/bgvid.mp4') }}"  type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" />
                   <source src="{{ url_for('static', filename='video/fithub.webm') }}" type="video/webm; codecs=vp8" />
                   <source src="{{ url_for('static', filename='video/fithub.ogg') }}"  type="video/ogg; codecs=theora,vorbis" />
                </video>
            {% else %}
                <video id="vidibigi" width="100%" height="100%" autoplay="autoplay" loop="loop">
                   <source src="{{ url_for('static', filename='video/run.webm') }}" type="video/webm; codecs=vp8" />
                   <source src="{{ url_for('static', filename='video/run.mp4') }}"  type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" />
                   <source src="{{ url_for('static', filename='video/run.ogv') }}"  type="video/ogg; codecs=theora" />
                </video>
            {% endif %}
        </div>
    </div>

    <div id="social-buttons">
        <div class="fb-like" data-href="http://fithub.org" data-send="false" data-layout="button_count" data-width="52" data-show-faces="false" data-font="trebuchet ms" data-colorscheme="dark"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fithub.org" data-hashtags="fithub">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
