{% extends 'ui.html' %}

{% block content %}

    <div id="main">
        <div id="leftmenubg"></div>
        <div id="leftmenu">
            <ul>
                <li><span class='icon-star'></span>Favorites</li>
                <li><span class='icon-clock'></span>Recent</li>
                <li><span class='icon-arrow-up'></span>Needs work</li>
                <li class='selected'><span></span>Cardio</li>
                <li><span></span>Shoulders</li>
                <li><span></span>Upper Arms</li>
                <li><span></span>Forearms</li>
                <li><span></span>Back</li>
                <li><span></span>Chest</li>
                <li><span></span>Waist</li>
                <li><span></span>Hips</li>
                <li><span></span>Thighs</li>
                <li><span></span>Calves</li>
            </ul>
        </div>

        <div id="mainright">
            <div id="sortmenu">
                <p>Sort by</p>
                <select>
                    <option value="status">Status</option>
                    <option value="alpha">Alphabetical</option>
                    <option value="recent">Most recent</option>
                </select>
            </div>
            <ul>
                <li>
                    <div class="status green"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <a href="{{ url_for('canned_demo') }}">
                    <div class="textinfo">
                        <h2>Jumping jacks</h2>
                        <h3>Status: On your way</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                    </a>
                </li>
                <li>
                    <div class="status green"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Bench press</h2>
                        <h3>Status: Expert</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status green"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Push-up</h2>
                        <h3>Status: Expert</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status green"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Dead lift</h2>
                        <h3>Status: Expert</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status green"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Running</h2>
                        <h3>Status: Expert</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status yellow"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Chest press</h2>
                        <h3>Status: On your way</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Lat pulls</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
                <li>
                    <div class="status red"></div>
                    <img src="img/dummy.png" alt="This is nothing" a="">
                    <div class="textinfo">
                        <h2>Workout name</h2>
                        <h3>Status: Needs improvement</h3>
                        <p>This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description. This is a text description.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
