{% extends 'base.html' %}

{% block page %}
    

    <header>
        <nav>
            <a href="/" class='logo'></a>
            <ul>
                <li><a href="{{ url_for('login') }}" class="login {{ currlogin }}">Log in</a></li>
                <li><a href="{{ url_for('stats') }}" class="{{ currstats }}">Stats</a></li>
                <li><a href="{{ url_for('training') }}" class="{{ currtraining }}">Training</a></li>               
            </ul>
        </nav>
    </header>

    {% block content %}
        <p>implement this (content) block in themed templates</p>
    {% endblock %}

{% endblock %}
