{% extends 'base.html' %}

{% block page %}
    
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main') }}" class='logo'></a></li>
                <li><a href="{{ url_for('training') }}">Training</a></li>
                <li><a href="{{ url_for('stats') }}">Stats</a></li>
                <li><a href="{{ url_for('login') }}" class='login'>Log in</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
        <p>implement this (content) block in themed templates</p>
    {% endblock %}

{% endblock %}
