@import "mixins/all";
.reset();
*:focus {
	outline: none;
}

@grb: 1.61803398875rem;
@grs: 1 / @grb;

@headerheight: 1rem * @grb * @grb;
@footerheight: 1rem * @grb;

@white: #fff;
@lightgrey: #c4c4c4;
@orange: #ff8800;
@accent: #aaddff;
@black: #555;

*::-moz-selection { color: @white;  background: @orange;}
*::selection      { color: @white;  background: @orange;}

img::-moz-selection { color: @orange;  background: @orange;}
img::selection      { color: @orange;  background: @orange;} 

body{
//	font-size: 62.5%;
	font-weight: 400;
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Ariel', sans-serif;
	background-color: @lightgrey;
}
a {
	text-decoration: none;
	color: @black;

	transition: color .5s;
	-moz-transition: color .5s; /* Firefox 4 */
	-webkit-transition: color .5s; /* Safari and Chrome */
	-o-transition: color .5s; /* Opera */
}
a:hover {
	color: @orange;
}
li {
	transition: color .2s, height .3s;
	-moz-transition: color .2s, height .3s; /* Firefox 4 */
	-webkit-transition: color .2s, height .3s; /* Safari and Chrome */
	-o-transition: color .2s, height .3s; /* Opera */
}

@logoratio: 68 / 42;
@logobigratio: 68 / 58;

header {
	z-index: 100;
	box-shadow: 0px 2px 20px rgba(100, 100, 100, .1),
		0 -24px 20px rgba(100, 100, 100, .05) inset;
	position: fixed;
	top: 0;
	height: @headerheight;
	width: 100%;
	background-color: @white;
	padding-left: 1rem * @grb * @grb;
	border-bottom: 2px @lightgrey + #222 solid;
	font-weight: 800;
	line-height: @headerheight;
	font-size: @headerheight * @grs;
	line-height: @headerheight;
	text-transform: uppercase;
	ul {
		position: relative;
		height: @headerheight;
		padding-right: 1rem * @grb;
		li {
			text-align: right;
			float: right;
			display: block;
			line-height: @headerheight;
			height: @headerheight;
		}
	}
	a {
		padding-right: 1rem * @grb * @grb;
		font-size: 1rem;
		color: @black + #333;
		line-height: @headerheight;
		vertical-align: middle;

	}
	.logo {
		padding-right: 1rem * @grb * @grb;
		height: @headerheight;
		width: @headerheight * @logoratio;
		display: block;
		float: left;
		background: transparent url('../img/logo.png') left top no-repeat;
/*		padding-right: 1rem * @grb * @grb;
		height: @headerheight;
		width: @logoheight * @logoratio;
		display: inline-block;
		background: transparent url('../img/logo.png') left center no-repeat;
		background-size: @logoheight*@logoratio @logoheight;
*/	}
	.logo:hover {
		background-image: url('../img/logo_hov.png');
	}

}
.icon {
	vertical-align: middle;
}
#main {
	padding-top: @headerheight;
	width: 100%;
}
